body {
  font-family: var(--font-body);
  font-size: var(--font-size);

  padding-top: 40px;
}

.header {
  display: flex;
  justify-content: space-around;
}

// footer
.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
