:root {
  --font-size: 18px;

  // ### Body
  --font-body: "Barlow", sans-serif;
  // ### Headings, Call-to-actions, Navigation
  --font-headings: "Barlow Condensed", sans-serif;

  --fw-400: 400;
  // ### Headings, Call-to-actions, Navigation
  --fw-700: 700;
}
